<!DOCTYPE html>
<html ng-app="<%= pageName %>">
<head>
    <title><%= pageName %></title>
</head>
<body ng-controller="<%= controllerName %>">
    <div class="center-container">
		<ng-content>
			<ng-text></ng-text>
		</ng-content>
	</div>
    <script type="text/javascript" src="https://cdn.bootcss.com/angular.js/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="/vendor.__bundle.js"></script>
    <script type="text/javascript" src="/<%= pageName %>/main.__bundle.js"></script>
</body>
</html>
